{% extends 'agrosmart/base.html' %}

{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <br>
    <h3>Informes de Datos</h3>
    <br>
    <br>
    <h3>Resumen Temperatura y Humedad Aire</h3>
    <canvas id="tempHumidityChart"></canvas>
    
    <h3>Temperatura y Humedad Aire Última Hora</h3>
    <canvas id="lastHourTempHumidityChart"></canvas>
<br>

    <h3>Resumen Temperatura y Humedad del Suelo</h3>
    <canvas id="soilHumidityChart"></canvas>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tempHumidityData = JSON.parse('{{ temp_humidity_data|escapejs }}');
            const soilData = JSON.parse('{{ soil_data|escapejs }}');
            const lastHourDataAir = JSON.parse('{{ last_hour_data_air|escapejs }}');
    
            // Datos para gráficos de Promedio por Hora de Aire
            const tempHumidityLabels = tempHumidityData.map(entry => entry.hour);
            const tempHumidityTemp = tempHumidityData.map(entry => entry.avg_temp);
            const tempHumidityHum = tempHumidityData.map(entry => entry.avg_humidity);
    
            // Datos para gráficos de Promedio por Hora de Suelo
            const soilLabels = soilData.map(entry => entry.hour);
            const soilHumidity = soilData.map(entry => entry.avg_humidity_soil);
            const soilTemperature = soilData.map(entry => entry.avg_temp);
    
            // Datos para el gráfico de la última hora
            const lastHourLabels = lastHourDataAir.map(entry => entry.minute);
            const lastHourTemp = lastHourDataAir.map(entry => entry.avg_temp_hour);
            const lastHourHumidity = lastHourDataAir.map(entry => entry.avg_humidity_hour);
    
            // Gráfico de Temperatura y Humedad Promedio por Hora (Aire)
            const tempHumidityChart = new Chart(document.getElementById('tempHumidityChart'), {
                type: 'line',
                data: {
                    labels: tempHumidityLabels,
                    datasets: [
                        {
                            label: 'Temperatura Promedio',
                            data: tempHumidityTemp,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            fill: true
                        },
                        {
                            label: 'Humedad Promedio',
                            data: tempHumidityHum,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            fill: true
                        }
                    ]
                }
            });
    
            // Gráfico de Humedad y Temperatura del Suelo
            const soilHumidityChart = new Chart(document.getElementById('soilHumidityChart'), {
                type: 'line',
                data: {
                    labels: soilLabels,
                    datasets: [
                        {
                            label: 'Humedad del Suelo Promedio',
                            data: soilHumidity,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            fill: true
                        },
                        {
                            label: 'Temperatura Promedio',
                            data: soilTemperature,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            fill: true
                        }
                    ]
                }
            });
    
            // Gráfico de Temperatura y Humedad del Aire de la Última Hora
            const lastHourTempHumidityChart = new Chart(document.getElementById('lastHourTempHumidityChart'), {
                type: 'line',
                data: {
                    labels: lastHourLabels,
                    datasets: [
                        {
                            label: 'Temperatura Última Hora',
                            data: lastHourTemp,
                            borderColor: 'rgba(255, 206, 86, 1)',
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            fill: true
                        },
                        {
                            label: 'Humedad Última Hora',
                            data: lastHourHumidity,
                            borderColor: 'rgba(153, 102, 255, 1)',
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            fill: true
                        }
                    ]
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}