{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<script>
  $(document).ready(function() {
      var form = $('#trabajador-form');
  
      // Al cambiar el tipo de contrato
      form.find('select[name="tipo_contraro"]').on('change', function() {
          var selectedValue = $(this).val();
          var fechaTerminoContratoField = form.find('input[name="fecha_termino_contrato"]');
          var fechaTerminoContratoLabel = form.find('label[for="id_fecha_termino_contrato"]');
  
          if (selectedValue === 'Plazo fijo') {
              fechaTerminoContratoField.show().prop('required', true);
              fechaTerminoContratoLabel.show();
          } else {
              fechaTerminoContratoField.hide().val('').prop('required', false);
              fechaTerminoContratoLabel.hide();
          }
      });
  
      // Inicializar comportamiento basado en valor actual
      form.find('select[name="tipo_contraro"]').trigger('change');
  });
  </script>
  




<div class="row">

    <hr>

    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h3> Agregar Trabajador </h3>
                <button class="btn btn-success" onclick="window.history.back();">Volver Atrás</button>
                <form id="trabajador-form" action="" class="formularioproceso" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{form | crispy}}
                    
                    

                    <br>
                    <br>

                    <div>
                        <input type="reset" value="Cancelar" class="btn btn-danger">
                        &nbsp;
                        <button type="submit" id="btnAgregar" class="btn btn-primary">Agregar Trabajador</button>
                        &nbsp;



                        {{mensaje}}

                </form>
                
                
            </div>
            <br>
            
            <button class="btn btn-success" onclick="window.history.back();">Volver Atrás</button>
        </div>
    </div>
</div>


    




</div>
{% endblock %}