<!DOCTYPE html>
{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}
<br>
<br>
<br>


<div class="row">

    <hr>

    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h3> Registro </h3>
                
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{ registerform.as_p }}
                    <input type="submit" class="btn btn-success" value="Registrar">
                </form>
                
                
            </div>
            <br>
            
           
        </div>
    </div>
</div>
{% endblock %}