<!DOCTYPE html>
<html>
<head>
    <title>Lista de Sectores</title>
    <script
      src="hhttps://maps.googleapis.com/maps/api/js?key=AIzaSyDT0QJ4JVXUrTA8mRZN_YXjy2CZDsa_vmw"
      defer></script>
    <script>
      function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 5,
          center: { lat: -34.397, lng: 150.644 },
        });

        const sectores = {{ sectores_json|safe }};

        sectores.forEach(sector => {
          const coords = JSON.parse(sector.coordenadas);
          const sectorPolygon = new google.maps.Polygon({
            paths: coords,
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: 0.35,
          });
          sectorPolygon.setMap(map);
        });
      }

      window.initMap = initMap;
    </script>
</head>
<body>
    <div id="map" style="height: 400px;"></div>
</body>
</html>
